.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.card {
    width: calc(20% - 1.5rem);
    display: flex;
    flex-direction: column;
    background: #e1e1e1;
    height: 15rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);

    &-title {
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
    }

    &-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 6rem;
        justify-content: space-between;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
    }

    &-discount {
        background: #10865e;
        color: #ffffff;
        padding: .2rem .3rem;
        border-radius: .1rem;
        margin-right: .3rem;
    }

    &-button {
        background: #e1e1e1;
        border: 1px solid #c7c7c7;
        color: #a6a6a6;
        padding: .2rem .3rem;
        border-radius: .1rem;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
        width: 4rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    &-disabled {
        opacity: 0.7;

        .card-button {
            cursor: not-allowed;
        }
    }

    img {
        width: 100%;
        min-height: 9rem;
        object-fit: cover;
    }
}