.header {
    height: 4rem;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);

    &-menu {
        max-width: 80rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &-logo {
        width: 3rem;
    }
}